
body{
	background-color: #18181B;
}

h1 {
color: red; 
font-family: Monotype Corsiva;
font-size: 95px;
text-shadow: 6px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}




h2 {
 color: red;
 font-size: 66px;
 font-family: Monotype Corsiva;
 text-shadow: 5px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}


.heart {
  animation: heartbeat 1s infinite;
  background-color: red;
  display: inline-block;
  height: 180px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute; 
  left: 45%; top: 60%;
  width: 190px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 180px;
  position: absolute;
  width: 180px;
}

.heart:before {
  top: -90px;
  left: 0;
}

.heart:after {
  left: 93px;
  top: 0;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 )
      rotate(-45deg);    
  }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg);  
  }
   40%
  {
    transform: scale( 1.5 )
      rotate(-45deg);
  }
}

body {
  height: 100vh;
  overflow: hidden;
}

.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(255,0,255,0.8);
  animation: spin 16s infinite linear;
  mix-blend-mode: multiply;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 10vw rgba(255,255,0,0.8);
  animation: spin 13s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 10vw rgba(0,255,255,0.8);
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}