* {
  margin: 0;
  padding: 0;
}

body {
 background-color: #18181B;
}



h1 {
  margin-top: 80px;
  color: #A101A6  ;
  font-style: italic;
  font-weight: bold;
  font-size: 65px;
  text-align: center;
  text-shadow: 6px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}

h2 {
  margin-top: 40px;
  color: #A101A6  ;
  font-size: 53px; 
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-shadow: 6px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
 }

 
 .demo{
  bottom: 0;
  height: 10px;
  left: 0;
  margin: auto;
  position: absolute;
  top: -1000px;
  right: 0;
  width: 200px;
}
/* Сердце */
#heart {
  position: relative;
  width: 100px;
  height: 900px;
  margin: 0 auto;
  animation: b 1.5s ease-in-out infinite;
}

#heart:before,
#heart:after {
  margin-top: 240px;
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 60px;
  height: 90px;
  background: #3E13AF;
  border-radius: 60px 60px 0 0; 
  -moz-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg); 
  -webkit-transform: rotate(-55deg);
  transform: rotate(-45deg);
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 95%;
  transform-origin: 0 90%; 
}

#heart:after {
  left: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: 110% 110%;
  -ms-transform-origin: 110% 110%;
  -webkit-transform-origin: 110% 110%;
  transform-origin: 100% 100%;
}

.k {
  position: absolute;
  top: 30px;
  left: 56px;
  z-index: 5;
  width: 0px;
  height: 10px;
  animation: a 1.5s infinite;
  margin-top: 240px;
}

@keyframes a {
  0% {
    -moz-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
  }
  50% {
    -moz-box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
  }
  100% {
    -moz-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
  }
}
@keyframes b {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}


body {
  height: 100vh;
  overflow: hidden;
}



.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(255,0,255,0.8);
  animation: spin 16s infinite linear;
  mix-blend-mode: multiply;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 10vw rgba(255,255,0,0.8);
  animation: spin 13s infinite linear;
}

.wave::after {
  width: 1020%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 10vw rgba(0,255,255,0.8);
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width : 480px) {
  .wave{max-width: none; width: 100%;}
  .hd{max-width: none; width: 100%;}
  .demo{max-width: none; width: 100%;}
}




.Logo, .Top_menu {
  display: inline-block;
  margin-right: 60px;
 vertical-align: middle;
}

.Top_menu li {
  display: inline-block;
}

header { 
display: flex; 
justify-content: center;
background: #121215;
font-size: 100px;
box-shadow: 1px 10px 40px;
 }

 .Top_menu a{ 
 font-family: arial;
 font-size:  38px; 
 color: white;
 margin-right: 50px;
 vertical-align: middle;
 text-decoration: none;
 font-family: Comic Sans MS;

}


.Logo h1 {
 
  color: #e01f84; 
  margin-top: 0px;
  font-family: Comic Sans MS;

 }

@font-face { 
font-family: Comic Sans MS; 
src: url();

}
