body {
	overflow: scroll;
}
h3 { 
color: white;
margin-top: 50px;
text-align: center;
font-size: 35px;
 }

.gr {
color: #323547;
font-size: 35px;
margin-top: 50px;
padding-left: 40px;
text-decoration: none;

}

.q {

background-color: #4e52b1 ;
border-radius: 30px;
width: 500px;
padding-left: 0px;
background-position: 100% 50%;
box-shadow: 10px 8px 100px;
}

a {
margin-top: 90px;
font-size: 40px;
text-decoration: none;
color: white;
}